<h1>Stupid Coaching</h1>
<p>Q&A with your coach: </p>

<%= @question %>
<p> - you </p>

<%= @answer %>
<p> - coach </p>

<%= link_to "Go back to Question page", ask_path %>  <!-- add '_path' -- check Ruby documentation -->
