<h1>Stupid Coaching</h1>
<p>Ask your coach anything: </p>

<form action="/answer">
  <input type="text" name="question">
<!--   Replace the ??? so that your form send a request to QuestionsController#answer with a good parameter name. -->
  <input type="submit" value="Ask!">
</form>

<p>Find me in app/views/questions/ask.html.erb</p>

